[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-ckeditor = "*"
django-layui = "*"
django-simpleui = "*"
faker = "*"
markdown = "*"
loguru = "*"
django-pure-pagination = "*"
yagmail = "*"
pillow = "*"

[requires]
python_version = "3.8"
